# pip install -r requirements.txt

# base ----------------------------------------
onnx
onnxruntime
matplotlib
numpy
opencv-python
# flask
werkzeug
PyQt5==5.15.7
Pillow
scipy>=1.4.1
pandas
PyYAML
flask

# pack to exe
pyinstaller

