# deepvue ----------------------------------------------------------------------------------------------
deepvue/.idea
deepvue/dist
deepvue/node_modules


# wx-pig ----------------------------------------------------------------------------------------------
wx-pig/node_modules
wx-pig/README.md
wx-pig/miniprogram_npm


# yolov5 ----------------------------------------------------------------------------------------------
yolov5/.github
yolov5/.idea
yolov5/__pycache__
# dataset
yolov5/data/images
yolov5/data/labels
# qt
yolov5/qt
yolov5/static
yolov5/runs
# other weight
yolov5/weights/yolov5l.pt
yolov5/weights/yolov5s.pt
yolov5/weights/yolov5m.pt
yolov5/weights/yolov5x.pt
yolov5/weights/yolov5s_pig.torchscript.pt
yolov5/weights/yolov5s_pig_origin.torchscript.pt
yolov5/weights/yolov5s_pig_origin.onnx


# yolov5_deploy ----------------------------------------------------------------------------------------------
yolov5_deploy/.idea
yolov5_deploy/__pycache__
yolov5_deploy/static/images/results
yolov5_deploy/static/images/upload


# yolov5_pyqt ----------------------------------------------------------------------------------------------
yolov5_pyqt/.idea
yolov5_pyqt /__pycache__
yolov5_pyqt/dist
yolov5_pyqt/static/images/upload


